@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }
}

@layer components {
    .wh-512x600 {
        width: 512px;
        height: 600px;
    }
}